body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.background {
    background-color: #FF0000
}

.background-text {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12rem; 
    color: #333; 
    opacity: 0.5;
}


.content {
    text-align: center;
    color: #FF0000;
}

.content a{
    text-decoration: none;
}

.button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}